{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
form label{color:white}
form{display:flex;
	flex-direction: column;}
h2 {color: white;
	padding-top: 20px;
}
.nav {
	display:flex;
	color: blue;
	background-color: #ff00ff;
	height: 100px;
	width: 100%;
	position:relative;
}

.nav.img {
	height:100%;
	width:auto;
}

body{ color: white;
	background-color: #1294D1;		
}
.title {color: blue;}
</style>
<div class="title">
    
	<div class="nav">
<img src="https://i.pinimg.com/236x/11/c6/44/11c644a1c9d1962535b51fa50ce6a470--sprites-pixel-art.jpg"/>
	    	<h2>OPTIMUS</h2>
	</div>
</div>
	<body>
		<h1>SET UP YOUR CAMPAIGN</h1>
		<form method="POST">
			{% csrf_token %}
        		{{ form}}
			<button class="btn" type="submit">Create Campaign</button>
		</form>
    </body>
</head>
</html>